 <!-- Barra de navegacion superior -->
    <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul class="menu">
            <li><a href="./superprincipal">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <!-- Esto esta oculto es para un submenu para
                la calculadora y demas -->
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
  


<div class="container">
    <!--<%=title%>-->
    <!-- Comenzando nueva parte -->
    <div class = "registro">
      <h1>FactOnLine</h1>
      <p>Binevenido a su factura online.
         Por favor, ingrese su nombre a continuación: </p>
      <input class="nombre_usuario" type="text" autofocus id="nombre_usuario" name="nombre_usuario" placeholder="nombre">
      <input class="nombre_usuario" type="text" autofocus id="correo" name="correo" placeholder="email">
      <input class="nombre_usuario" type="text" autofocus id="contrasenia" name="contrasenia" placeholder="****">
      <button class ="guardar_nombre" type="button" id="boton_nombre" name="boton_nombre">Comenzar</button>
    </div>
    
     <div class = "cambio_usuario" id="oculto">
      <h1>CalcOnLine</h1>
      <p> Acceso correcto. Comience a trabajar con CalcOnLine</p>
      <button class ="cambiar_nombre" type="button" id="cambiar_nombre" name="cambiar_nombre">Cambio de usuario</button>
      <button class ="buscar_usuario" type="button" id="buscar_usuario" name="buscar_usuario">Buscar en BDD</button>
    </div>
    <br><br>
    
    <!-- Finalizando nueva parte -->
   <form action="#" name="calculadora" id="calculadora">
      <th>
              Cargar archivo en el textarea:
              <input type="file" class="inputfile" />
    </th>
    
    <div class="pantalla">
       
       <textarea class = "drop_zone" cols = "50" rows = "5" id="screen" name="screen">0</textarea>
    
    </div>
    
   <div class="teclas">
   
   <form>
      <table>
  
        <tr>
          <td><input class ="numeros" type="button" id="num_7" value="7" onclick="numero(7)" /></td>
          <td><input class ="numeros" type="button" id="num_8" value="8" onclick="numero(8)" /></td>
          <td><input class ="numeros" type="button" id="num_9" value="9" onclick="numero(9)" /></td>
          <td><input class ="simbolos" type="button" id="AC" value="AC" onclick="numero('AC')" /></td>
          <td><input class ="simbolos" type="button" id="DEL" value="DEL" onclick="numero('DEL')" /></td>
        </tr>
        <tr>
          <td><input class ="numeros" type="button" id="num_4" value="4" onclick="numero(4)" /></td>
          <td><input class ="numeros" type="button" id="num_5" value="5" onclick="numero(5)" /></td>
          <td><input class ="numeros" type="button" id="num_6" value="6" onclick="numero(6)" /></td>
          <td><input class ="simbolos" type="button" id="multiplicacion" value="x" onclick="numero('*')" ></td>
          <td><input class ="simbolos" type="button" id="division" value="/" onclick="numero('/')" ></td>
        </tr>
        <tr>
          <td><input class ="numeros" type="button" id="num_1" value="1" onclick="numero(1)" /></td>
          <td><input class ="numeros" type="button" id="num_2" value="2" onclick="numero(2)" /></td>
          <td><input class ="numeros" type="button" id="num_3" value="3" onclick="numero(3)" /></td>
          <td><input class ="simbolos" type="button" id="mas" value="+" onclick="numero('+')" ></td>
          <td><input class ="simbolos" type="button" id="menos" value="-" onclick="numero('-')" ></td>
        </tr>
        <tr>
          <td><input class ="numeros" type="button" id="num_0" value="0" onclick="numero(0)" /></td>
          <td><input class ="simbolos" type="button" id="mas_menos" value="+/-" onclick="numero('+/-')"></td>
          <td><input class ="simbolos" type="button" id="punto" value="," onclick="numero(',')" ></td>
          <td><input class ="numeros" type="button" id="num_1" value="..." onclick="numero('...')" ></td>
          <td><input class ="simbolos" type="button" id="igual" value="=" ></td>
        </tr>
      </table>
      </form>
    </div>
    
    <div class="example">
            Area ejemplo
            <textarea class = "area" cols = "10" rows = "3" id="area" name="area"></textarea>
            <!--div id="area"></div-->
    </div>
    <br><br>
    <div class="example">
            Cargar ejemplo
            <div id="prueba" class="prueba"></div>
    </div>
    <br><br>
    <div class="example">
            Cargar ejemplo
            <div id="botones"></div>
    </div>
    
    <br><br>
    <div class="examples">
              Click para cargar ejemplos:
              <button class ="example" type="button" id="input">op1</button>
              <button class ="example" type="button" id="input2">op2</button>
              <button class ="example" type="button" id="input3">op3</button>
              <!--button class ="example" type="button">input4</button-->
    </div>
   
    <!--
    <div></div>
        <p>
          <input type="button"  value="0" onclick='numero(0)' />
          <input type="button"  value="1" onclick="numero('1')" />  
          <input type="button"  value="2" onclick="numero('2')" />
          <input type="button"  value="3" onclick="numero('3')" />
          <input type="button"  value="4" onclick="numero('4')" />
          <input type="button"  value="5" onclick="numero('5')" />
          <input type="button"  value="6" onclick="numero('6')" />
          <input type="button"  value="7" onclick="numero('7')" />
          <input type="button"  value="8" onclick="numero('8')" />
          <input type="button"  value="9" onclick="numero('9')" />
          <input type="button"  value="+" onclick="numero('+')" />
          <input type="button"  value="-" onclick="numero('-')" />
          <input type="button"  value="*" onclick="numero('*')" />
          <input type="button"  value="/" onclick="numero('/')" />
          <input type="button"  value="=" id="igual">
        </p>
-->
    <!--</form>-->
  </div>
  
  <!--</nav>-->
  <!--  <nav class="categorias">-->
      <!--a class="botones_generales" href="./charcuteria.html">Charcuteria</a>
  <!--    <a class="botones_generales" href="./pescaderia.html">Pescaderia</a-->-->
  <!--    <a class="botones_generales" href="./fruteria">Fruteria</a>-->
  <!--</nav>-->