   <!-- Barra de navegacion superior -->
    <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul class="menu">
            <li><a href="./superprincipal">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <!-- Esto esta oculto es para un submenu para
                la calculadora y demas -->
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    <nav class="segundo">
      <nav class="productos">
        <h1>Productos Disponibles en la charcuteria</h1>

        <table>
          <tr class="principal">
            <td>Producto</td>
            <td>Precio</td>
            <td>Cantidad (kg)</td>
            <td>Añadir al carrito</td>
          </tr>
          <tr>
            <td>Pelluga de pollo</td>
            <td>3,46 €/Kg</td>
            <td><input type="text" id="i1" name="i1"></td>
            <td><a class="enlace_boton" href="#" id="c1" name="c1" >Añadir</a></td>
          </tr>
          <tr>
            <td>Chuleta de cerdo</td>
            <td>2,55 €/Kg</td>
            <td><input type="text" name=i2 id="i2"></td>
            <td><a class="enlace_boton" href="#" id="c2" name="c2" >Añadir</a></td>
          </tr>
          <tr>
            <td>Carne mechada res</td>
            <td>4,99 €/Kg</td>
            <td><input type="text" name="i3" id="i3"></td>
            <td><a class="enlace_boton" href="#" id="c3" name="c3" >Añadir</a></td>
          </tr>
        </table>

      </nav>
    <!-- Final del eslogan y eso -->
    <nav class="carrito_compra">
      <h4>Carrito de la compra</h4>
      <textarea name="carrito" id="carrito" cols="36" rows="10"></textarea>
      
      <div class="example">
            Nombre dl usuario:
            <div id="prueba" class="prueba"></div>
            
             <div class="output" id="finaltable">
      </div>
    
    <input id="generar_factura" name="generar_factura" type="submit" value="Generar factura" class="login-button">
    </nav>
  </nav>
  <!-- Comienzo de las categorias -->
  <nav class="categorias">
    <a class="botones_generales" href="./charcuteria">Charcuteria</a>
    <a class="botones_generales" href="./pescaderia">Pescaderia</a>
    <a class="botones_generales" href="./fruteria">Fruteria</a>
  </nav>
    <!-- Final de las categorias -->
