<nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="./registro">Registro</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    
    <nav class="segundo">
      <nav class="productos">
        
        <h2>Aprovéchese de las mejores promociones convirtiéndose<h2>
        <h2>en miembro de nuestro<h2><h1> Club_APP</h1>
        
        <ul>
            <li><h4>Catálogos semanales</h4></li>
            <li><h4>Descuentos especiales</h4></li>
            <li><h4>Seguimientos de productos</h4></li>
        </ul>
        
        <br><br>
        <h3>Y lo más importante, de una manera </h3><h2><bold>totalmente gratuita.</bold></h2>
     </nav>
 </nav>
