<nav class="segundo">
      <nav class="productos">
        <h1><%=title%></h1>
        <br><br>
        <h2>Porfavor logeese para acceder<h2><br>
        <h2>Seleccione alguna de nuestras categorias<h2>
        <a href="/registro" class="login-button">Registrarse</a>
        
      </nav>