<!-- Barra de navegacion superior -->
    <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul class="menu">
            <li><a href="./superprincipal">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <!-- Esto esta oculto es para un submenu para
                la calculadora y demas -->
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Facturas</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    <nav class="segundo">
      <nav class="productos">
        <h1>Productos Disponibles en la fruteria</h1>

        <table>
          <tr class="principal">
            <td>Producto</td>
            <td>Precio</td>
            <td>Cantidad (kg)</td>
            <td>Añadir al carrito</td>
          </tr>
          <tr>
            <td>Piña</td>
            <td>3,77 €/Kg</td>
            <td><input type="text" id="i1" name="i1"></td>
            <td><a class="enlace_boton" href="#" id="f1" name="f1">Añadir</a></td>
          </tr>
          <tr>
            <td>Manzana Golden</td>
            <td>1,85 €/Kg</td>
            <td><input type="text" id="i2" name="i2"></td>
            <td><a class="enlace_boton" href="#" id="f2" name="f2">Añadir</a></td>
          </tr>
          <tr>
            <td>Naranja zumo</td>
            <td>1,05 €/Kg</td>
            <td><input type="text" id="i3" name="i3"></td>
            <td><a class="enlace_boton" href="#" id="f3" name="f3">Añadir</a></td>
          </tr>
        </table>

      </nav>
  
      <nav class="carrito_compra">
      <h4>Carrito de la compra</h4>
      <textarea class="drop_zone" name="carrito" id="carrito" cols="36" rows="10"></textarea>
      
    </nav>
    
    <nav class="carrito_compra_2">
       <div class="example">
            Introduzca su nombre :<textarea id="nombre_usuario" name="nombre_usuario" placeholder="Name" aria-required="true"></textarea>
      <input id="generar_factura" name="generar_factura" type="submit" value="Generar factura" class="login-buttonf">
      <input id="buscar_factura" name="buscar_factura" type="submit" value="Ver facturas" class="login-buttonf">
           <br><br>
           <div class="examples">
              Click para cargar facturas ejemplos:
              <button class ="login-buttonf" type="button" id="input">factura_fruteria</button>
              <button class ="login-buttonf" type="button" id="input2">factura_fruteria1</button>
              <button class ="login-buttonf" type="button" id="input3">factura_fruteria2</button>
              <!--button class ="example" type="button">input4</button-->
          </div><br>
          <th>
              Cargar facturas en el textarea:
              <input type="file" class="inputfile"/>
          </th>
    </nav>
    
  </nav><br><br>
  <div id="prueba" class="prueba"></div>
  <!-- Comienzo de las categorias -->
  <nav class="categorias">
    <a class="botones_generales" href="./charcuteria">Charcuteria</a>
    <a class="botones_generales" href="./pescaderia">Pescaderia</a>
    <a class="botones_generales" href="./fruteria">Fruteria</a>
  </nav>
    <!-- Final de las categorias -->
