
 <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="./">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    <nav class="segundo">
      <nav class="productos">
        <h1>  <%=title%> App_SupeR</h1>
        <h2>El lugar online a través del cual podrá realizar sus compras<h2>
        <h2>Todo sin abandonar la comodidad de su casa.<h2>
        <br>
        <h2>Por favor, a continuación registrese o inicie sesión</h2>
        <a class="botones_sesion" href="./registro">Registrarse</a>
        <a class="botones_sesion" href="./iniciar">Iniciar Sesión</a>
      </nav>
    <!-- Final del eslogan y eso -->
    <!--<nav class="carrito_compra">-->
    <!--  <h4>Carrito de la compra</h4>-->
    <!--  <textarea name="carrito" id="carrito" cols="23" rows="10"></textarea>-->
    <!--</nav>-->
    <!-- Comienzo de las categorias -->
  <!--</nav>-->
  <!--  <nav class="categorias">-->
  <!--    <a class="botones_generales" href="./charcuteria">Charcuteria</a>-->
  <!--    <a class="botones_generales" href="./pescaderia">Pescaderia</a>-->
  <!--    <a class="botones_generales" href="./fruteria">Fruteria</a>-->
  <!--    <a class="botones_generales" href="./calculadora">Calculadora</a>-->
      
  <!--  </nav>-->

    <!-- Final de las categorias -->