<nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="./registro">Registro</a></li>
            <li><a href="./club"> Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    <center>
    <nav class="segundo">
      <nav class="productos">
        <h1 face="Comic Sans MS,arial,verdana">  <%=title%> </h1>
        
       
        <h2>El lugar online a través del cual podrá realizar sus compras<h2>
        <h2>Todo sin abandonar la comodidad de su casa.<h2>
     </nav>
 </nav>
