 <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="./">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    


<form class="login">
    <h1 class="login-title">Inicie Sesion</h1>
    <input type="text" class="login-input" placeholder="Nombre de Usuario" autofocus>
    <input type="password" class="login-input" placeholder="Contraseña">
    <!--<input type="submit" value="Comenzar" class="login-button">-->
    <a href="/index2" class="login-button">Comenzar</a>
  <p class="login-lost"><a href="">¿Ha olvidado su contraseña?</a></p>
  </form>
