 <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="./">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    


<!--form class="login" action='/sesion' method="get"-->
    <form class="login" method="get" action="/sesion">
    <h1 class="login-title">Inicie Sesion<%=title%></h1>
    
     <input id="nombre_usuario" name="nombre_usuario" type="text" class="login-input" placeholder="Nombre de Usuario" autofocus aria-required="true">
    <input id="contrasenia" name="contrasenia" type="password" class="login-input" placeholder="Contraseña" aria-required="true">
    
    <input id="inicio" name="inicio" type="submit" value="Comenzar" class="login-button">
    <!--<a id="inicio" href="/sesion" class="login-button" type="button">Comenzar</a>-->
  <p class="login-lost"><a href="/superprincipal">¿Ha olvidado su contraseña?</a></p>
  </form>
