 <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="./info">Quienes Somos</a></li>
            <li><a href="./club">Club</a></li>
        </ul>
    </nav>
    

  <!--</form>-->
<form class="login" method="get" action="/newuser">
    <h1 class="login-title"><%=title%></h1>
    
    <input id="nombre_user" name="nombre_user" type="text" class="login-input" placeholder="Nombre de Usuario" autofocus aria-required="true">
    <input id="coreo" name="coreo" type="email" class="login-input" placeholder="Correo" aria-required="true">
    <input id="contra" name="contra" type="password" class="login-input" placeholder="Contraseña" aria-required="true">
    
    <input id="registro" name="registro" type="submit" value="Registrarse" class="login-button">
    <!--<a id="inicio" href="/sesion" class="login-button" type="button">Comenzar</a>-->
  <p class="login-lost"><a href="/superprincipal">¿Ha olvidado su contraseña?</a></p>
  </form>