 <nav class="menu_superior">
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="./">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    
    
    

<!--<form class="login" action="/superprincipal" method="get" >-->
    <form class="login"  method="get" action="/buscar">
    <h1 class="login-title">Registro</h1>
    <input id="nombre_usuario" type="text" class="login-input" placeholder="Nombre de Usuario" autofocus aria-required="true"/>
    <input id="correo" type="text" class="login-input" placeholder="Correo electrónico" name="email" autofocus aria-required="true"/>
    <input id="contrasenia" type="password" class="login-input" placeholder="Contraseña"aria-required="true"/>
    <input id="registrarse" name="registrarse" type="submit" value="Registrese" class="login-button">
    <!--a id="registrarse" href="/superprincipal" class="login-button">Registrar</a-->

  </form>
