
 <nav class="menu_superior" >
        <!-- Listado de Navegación -->
        <ul>
            <li><a href="./superprincipal">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Herramientas</a></li>
              <ul>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Calendario</a></li>
              </ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Club</a></li>
        </ul>
    </nav>
    <!-- Fin de barra de navegacion superior -->
    <!-- Comienzo del eslogan y eso -->
    
    
    
    <nav class="segundo">
      <nav class="productos">
        <h1><%=title%></h1>
        <br><br>
        <h2>Bienvenido a su portal de compra favorito<h2><br>
        <h2>Seleccione alguna de nuestras categorias<h2>
        
      </nav>
      
      
     <!--Final del eslogan y eso -->
    <nav class="carrito_compra">
      <h4>Carrito de la compra</h4>
      <textarea name="carrito" id="carrito" cols="23" rows="10"></textarea>
      
       <div class="example">
            Nombre dl usuario:
            <div id="prueba" class="prueba"></div>
    </div>
    </nav>
     <!--Comienzo de las categorias -->
  </nav>
    <nav class="categorias">
      <a class="botones_generales" href="./charcuteria">Charcuteria</a>
      <a class="botones_generales" href="./pescaderia">Pescaderia</a>
      <a class="botones_generales" href="./fruteria">Fruteria</a>
      <a class="botones_generales" href="./calculadora">Calculadora</a>
      
    </nav>

    <!-- Final de las categorias -->